<%= form_for album do |f| %>
  <% if album.errors.any? %>
    <div class="alert alert-danger">
      There was a problem saving the album.
      <ol>
        <% @album.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :year %><br>
    <%= f.text_field :year, class: "form-control" %>
    <small id="formGroupYearInputHelp" class="form-text text-muted">Please use yyyy format</small>
  </div>
  <div class="form-group">
    <%= f.label :artist %><br>
    <%= f.text_field :artist, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label "Condition" %><br>
    <%= f.select :condition do %>
      <%= Condition.all.each do |condition| %>
        <%= content_tag(:option, condition.name) %>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-outline-success my-2 my-sm-0" %>
  </div>
<% end %>
