<h1>Albums</h1>
<div class="table-responsive">
  <table class="table table-bordered">
  <tr>
    <td>
      <strong>Title</strong>
    </td>
    <td>
      <strong>Year</strong>
    </td>
    <td>
    <strong>Artist</strong>
    </td>
    <td>
    <strong>Condition</strong>
    </td>
  </tr>
  <% @albums.each do |album| %>
    <tr>
      <td>
        <%= link_to album.title, album_path(album) %>
      </td>
      <td>
        <%= album.year %>
      </td>
      <td>
      <%= album.artist %>
      </td>
      <td>
      <%= album.condition.name %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
<%= link_to 'New Album', new_album_path, class: "btn btn-outline-success my-2 my-sm-0" %>
