<div class="table-responsive">
  <table class="table table-bordered">
  <tr>
    <td>
      <strong>Title</strong>
    </td>
    <td>
      <strong>Year</strong>
    </td>
    <td>
    <strong>Artist</strong>
    </td>
    <td>
    <strong>Condition</strong>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to @album.title, edit_album_path(@album) %>
    </td>
    <td>
      <%= @album.year %>
    </td>
    <td>
      <%= @album.artist %>
    </td>
    <td>
      <%= @album.condition.name %>
    </td>
  </tr>
  </table>
</div>
<%= link_to 'Edit', edit_album_path(@album), class: "btn btn-outline-success my-2 my-sm-0" %>
<%= link_to 'Delete Album', album_path(@album),
        method: :delete,
        class: 'btn btn-danger',
        data: { confirm: 'Are you sure?' } %>
