<!DOCTYPE html>
<html>
<head>
  <title>RecordKeeper</title>
  <%= stylesheet_link_tag 'application' %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="<%= albums_path %>">RecordKeeper</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Albums
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="<%= albums_path %>">All Albums <span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="<%= new_album_path %>">New Album</a>
          </div>
        </li>
      </ul>
      <%= form_for search_path,
        method: :get,
        html: {class: "form-inline my-2 my-lg-0"},
        url: search_path  do |f| 
      %>
      <%= text_field_tag :q, params[:q], placeholder: "Search", class: "form-control mr-sm-2" %>
      <%= submit_tag "Search", name: nil, class: "btn btn-outline-success my-2 my-sm-0" %>
    <% end %>
    </div>
  </nav>
  <section class="container">
    <%= yield %>
  </section>
  <%= javascript_include_tag 'application' %>
</body>
</html>
